<!DOCTYPE html>
<html>
    <title>About SheffPieGuy</title>
    <head>
        <%= erb :htmlheader %>
    </head>
    <body>
        <%= erb :nav %>
        <div class="container">
            <br><br>
            <h1>About us</h1>
            <p class="lead">Once upon a time...⏳</p>
            <hr class="my-4">
            <p>There was a vision. A vision to modernise the process of getting a good old pie, from a lovely local business. Sound familiar? That's right - it's us! We're here to shake up how local businesses operate and we're ready to stand by our creation. SheffPieGuy prides itself in embracing one of the most widely used social media platforms on the planet - Twitter - to base our business. Not only do we receive orders in real time, but we save you time and money by allowing you to purchase from the comfort of your own home. If you really feel like it, you could send a tweet while hiking in the Peaks for delivery fresh from our oven for when you get home :')</p>
            <p>We hope you love our service, as have so many of our other customers :</p>
            <a class="twitter-timeline centre" href="https://twitter.com/SheffPieGuy?ref_src=twsrc%5Etfw">Tweets by SheffPieGuy</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
            <%= erb :footer %>
    </body>
</html>