<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">SheffPieGuy Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="admin">Admin Console</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="adminhandle">Handle Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="adminoffers">Offers</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="accounts">Accounts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="adminpies">Pies</a>
      </li>
      
    </ul>
      <div class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
          <% if (session[:admin] == true) %>
        <li class="nav-item">
            <strong><a class="nav-link" href="/logout">Log Out</a></strong>
        </li>
      <% end %>
      </ul>
      </div>
  </div>
</nav>