<!DOCTYPE html>
<html>
    <title>Contact Us - SheffPieGuy</title>
    <head>
        <%= erb :htmlheader %>
    </head>
    <body>
        <%= erb :nav %>
        <div class="container">
            <br><br>
            <h1>Contact us</h1>
            <p class="lead">Need to grab us??</p>
            <hr class="my-4">
            <p>You can contact us via Twitter - how modern and 21st Century! We've even included a little button below! We'll aim to get back within 24 hours</p>
            <a href="https://twitter.com/messages/compose?recipient_id=927856963945488384&ref_src=twsrc%5Etfw" class="twitter-dm-button" data-screen-name="https://twitter.com/sheffpieguy" data-show-count="false">Message @https://twitter.com/sheffpieguy</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
            <%= erb :footer %>
    </body>
</html>