<br><br>
<footer class="container">      
    <hr class="my-4 footer">
    <p>&copy; 2018 SheffPieGuy c/o B Prajapat, C Hart, O Hickman, P Katema, R Somers &amp; A Gauthier</p>
    <a href="admin">Go to <span style="font-family: Molle, cursive;">SheffPieGuy Admin</span> login</a> 
    <br>
</footer>