<!DOCTYPE html>
<html>
    <title>User Page - SheffPieGuy</title>
    <head>
        <%= erb :htmlheader %>
    </head>
    <body>
        <%= erb :nav %>
        <div class="container">
            <br><br>
            <h1>My SheffPieGuy</h1>
            <p class="lead">Here you can edit your profile</p>
            <hr class="my-4">
            <a href="/update"><button type="button" class="btn btn-primary btn-lg">Edit Profile</button></a>
        </div>
        <%= erb :footer %>
    </body>
</html>