<!DOCTYPE html>
<html>
    <title>Error 500 - SheffPieGuy</title>
    <head>
        <%= erb :htmlheader %>
    </head>
    <body>
        <%= erb :nav %>
        <div class="container">
            <br><br>
            <h1 class="display-3">Whoops..</h1>
            <hr class="my-4">
            <p>Something went wrong on the server</p>
            <p>If you keep running in this error, note that the error code is 500</p>
            <p>Return to the home page or any of our other pages by using the links above</p>

        </div>
        <%= erb :footer %>
    </body>
</html>
